header
    include ../partials/_navigation.pug
    .container.jumbo
        .row.align-items-center
            .col-md-7.col-lg-5.col-xl-4
                .logo-brand
                    img(src='img/logo-brand.png' title='' alt='').logo-brand
                    h1 SMM стратегия Facebook & Instagram
    img(src='img/headers/header1.png' title='' alt='').header-back
