//left-right menu
main.open
  transform translateX(calc(-100% + 60px))

nav.open
  transform translateX(calc(-100% + 60px))

+mobile()
  .nav-panel
    display block
    position fixed
    top 0
    left 60px
    right 0
    bottom 0
    z-index 100