@import '../../utilities/vars'
@import '../../utilities/mixins'

/* MAIN STYLES */

html
  overflow-x hidden

body
  overflow-x hidden
  font(16px, $black, 400, normal)
  //background $white
  //
  //+mobile()
  //  padding-top 50px

html.open-nav
  overflow hidden
  height 100vh

body.open-nav
  overflow hidden