//reset & normalize
//@import '../libs/reset/reset.css'
//@import '../libs/normalize-css/normalize.css'

//font-awesome
@import '../libs/font-awesome/css/font-awesome.css'

//bootstrap 4
@import '../libs/bootstrap/dist/css/bootstrap-reboot.css'
@import '../libs/bootstrap/dist/css/bootstrap-grid.css'
//@import '../libs/bootstrap/dist/css/bootstrap.css'

//bootstrap 3
//@import "../libs/bootstrap3/dist/css/bootstrap.css"

//chosen
//@import '../libs/chosen/chosen.css'

//iCheck
//@import '../libs/iCheck/skins/all.css'

//slick
@import '../libs/slick-carousel/slick/slick.css'
@import '../libs/slick-carousel/slick/slick-theme.css'

//owl carousel
//@import "../libs/owl.carousel/dist/assets/owl.carousel.css"
//@import "../libs/owl.carousel/dist/assets/owl.theme.default.css"

//remodal
//@import "../libs/remodal/dist/remodal.css"
//@import "../libs/remodal/dist/remodal-default-theme.css"

//magnific popup
//@import "../libs/magnific-popup/dist/magnific-popup.css"

//animate
//@import "../libs/animate.css/animate.css"

//animsition
@import "../libs/animsition/dist/css/animsition.css"

@import 'base/base'
@import 'layout/layout'
@import 'modules/modules'

