@import '../../utilities/vars'
@import '../../utilities/mixins'

/* HEADER */
header
  //background $black
  min-height 660px
  position relative
  +mobile()
    padding-top 51px
    overflow hidden
    min-height unset
    //height calc(100vh - 51px)
    height 568px

.logo-brand
  margin-bottom 70px

.jumbo
  height calc(660px - 115px)
  position relative
  z-index 10
  +mobile()
    //height calc(100vh - 51px)
    height 568px
  .row
    height 100%

.header-back
  position absolute
  top 0
  left calc(50% - 585px)
  z-index 1
  margin 0