//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | Анализ СММ

block content

    section.section-white
        .container
            .row.justify-content-center
                .col-12
                    h2 Визуальные стандарты
                    img(src='img/parts/visual.png' title='' alt='').img-responsive

    section.section-double
        .section-white
            .container
                .row.justify-content-center
                    .col-12
                        h2 Идея
        .section-gray
            .container
                .row.align-items-center
                    .col-md-8.col-lg-6.z-index-2
                        h6 Что чувствует ваша кожа?
                        p Тонус, усталость, спокойствие, раздражение… любовь?
                        .spacer-100
                        p.text-hard
                            b Эксперт по чувствам кожи MIXA
                                br
                                | помогает разобраться в этом спектре эмоций и создать крепкие доверительные отношения со своей кожей. С первых дней и на всю жизнь.
                    .col-md-4.col-lg-6
                        img(src='img/parts/component.png' title='' alt='').img-component


    section.section-king
        .section-white
            .container
                .row.justify-content-center
                    .col-12
                        h2 Selfmade content
        .section-gray
            .container
                .row.justify-content-center
                    .offset-sm-6.col-sm-6.offset-lg-4.col-lg-4
                        h3 Content is king
                    .col-lg-8
                        .border-king
                            p Наше предложение - производить собственный уникальный контент.
                            .img-king-container
                                img(src='img/parts/king.png' title='' alt='').img-king
                    .col-md-8.col-lg-6
                        .king-paragraph
                            p Насколько для Spazio важна эксклюзивность, настолько для контента важна уникальность.
                            p Собственный фото и видео-контент выгодно отличит от конкурентов, повысит информационную ценность, привлечет внимание пользователей.

    section.section-gray
        .container
            .row.justify-content-center
                .col-12
                    h2 Конкурс стилистов и фотографов
                .col-md-6.offset-lg-1.col-lg-6
                    .text-img
                        p Для производства собственного контента необходимы фотограф и стилист. Как их найти в рамках бюджета диджитал-кампании?
                        .spacer-30
                        p
                            b Решение
                            |  - SPAZIO Fashion Contest 2017
                            br
                            | Конкурс молодых стилистов и фешн-фотографов

                        p
                            b Поиск молодых талантов в социальных сетях - это мировой тренд.

                        p
                            | Каждую неделю команда из предварительно отобранных стилиста и фотографа освещает тренд/рассказывает историю, располагая ассортиментом и локацией Spazio.

                        p Конкурс проводится и промотируется исключительно в социальных сетях.

                        p
                            | Для участников - это шанс заявить о себе, получить работу мечты. Для Spazio - получить уникальный контент, охват, привлечь молодую аудиторию, проявить себя в роли эксперта и куратора.
                .col-md-6.col-lg-5
                    img(src='img/parts/winner.png' title='' alt='').img-text

    section.section-white
        .container
            .row.justify-content-center
                .col-12
                    h2 Форматы контента
                    p.text-format
                        b 8 рубрик. Для каждой предлагаем использовать свой формат контента
            .row.justify-content-center.format-reset
                .col-md-5.offset-md-1.col-lg-4
                    ol.ol-format
                        li
                            p Предмет гардероба
                            ul
                                li
                                    img(src='img/icons/icon1.svg' title='' alt='')
                                li
                                    img(src='img/icons/icon2.svg' title='' alt='')
                                li
                                    img(src='img/icons/icon3.svg' title='' alt='')
                        li
                            p Бренд
                            ul
                                li
                                    img(src='img/icons/icon1.svg' title='' alt='')
                                li
                                    img(src='img/icons/icon2.svg' title='' alt='')
                                li
                                    img(src='img/icons/icon3.svg' title='' alt='')
                        li
                            p Тренд
                            ul
                                li
                                    img(src='img/icons/icon1.svg' title='' alt='')
                                li
                                    img(src='img/icons/icon2.svg' title='' alt='')
                                li
                                    img(src='img/icons/icon3.svg' title='' alt='')
                        li
                            p Лук
                            ul
                                li
                                    img(src='img/icons/icon1.svg' title='' alt='')
                                li
                                    img(src='img/icons/icon2.svg' title='' alt='')
                                li
                                    img(src='img/icons/icon3.svg' title='' alt='')
                                li
                                    img(src='img/icons/icon4.svg' title='' alt='')
                .col-md-5.offset-md-1.col-lg-4
                    ol.ol-format
                        li
                            p Новые поступления
                            ul
                                li
                                    img(src='img/icons/icon1.svg' title='' alt='')
                                li
                                    img(src='img/icons/icon2.svg' title='' alt='')
                                li
                                    img(src='img/icons/icon5.svg' title='' alt='')
                        li
                            p Ретроспектива
                            ul
                                li
                                    img(src='img/icons/icon1.svg' title='' alt='')
                        li
                            p Селебрити
                            ul
                                li
                                    img(src='img/icons/icon1.svg' title='' alt='')
                        li
                            p Spazio Publishing
                            ul
                                li
                                    img(src='img/icons/icon1.svg' title='' alt='')
                .col-md-10.col-lg-8
                    .icons-format
                        .icon-image
                            img(src='img/icons/icon1.svg' title='' alt='')
                        .icon-description
                            p Фото
                        .icon-image
                            img(src='img/icons/icon4.svg' title='' alt='')
                        .icon-description
                            p Видео
                        .icon-image
                            img(src='img/icons/icon2.svg' title='' alt='')
                        .icon-description
                            p Иллюстрация
                        .icon-image
                            img(src='img/icons/icon5.svg' title='' alt='')
                        .icon-description
                            p Панорама 360
                        .icon-image
                            img(src='img/icons/icon3.svg' title='' alt='')
                        .icon-description
                            p GIF-анимация


    section.section-white
        .container
            .row.justify-content-center
                .col-12
                    h2 Медиапланирование
                .col-lg-10
                    ul.ul-media
                        li
                            span Пн
                            | 8:00
                        li
                            span Вт
                            | 12:30
                        li
                            span Ср
                            | 18:30
                        li
                            span Чт
                            | 8:00
                        li
                            span Пт
                            | 12:30
                        li
                            span Сб
                            | 18:30
                        li
                            span Вс
                            | 18:30
                .col-md-8
                    p Публикация постов 7 дней в неделю по одному разу в день. Исключение - внеплановые посты - при наличии “горячей” новости от бренда/дизайнера, селебрити, которая не подождет до завтра.
                    .spacer-50
                    p Более частый постинг приведет к “усталости” аудитории, обесцениванию материала, “размытию” информационного потока.

    section.section-white
        .container
            .row.justify-content-center
                .col-12
                    h2 Продвижение
                .col-md-8.col-lg-7.col-xl-6.text-center
                    svg(class='movement' width='456px', height='64px', viewbox='0 0 456 64', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                        g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                            g#Desktop-HD-Copy-18(transform='translate(-492.000000, -5232.000000)')
                                g#noun_635946_cc(transform='translate(492.000000, 5232.000000)')
                                    g#Group
                                        g#Group-5
                                            g
                                                path#Shape(d='M9.42941679,64 L9.42941679,46.1400487 C4.29614044,44.9068315 0,39.8706029 0,34.6394898 L0,15.7846012 C0,9.72818726 5.7329213,4 11.7964363,4 L49.4943783,4 C55.5571043,4 61.2892366,9.72818726 61.2892366,15.7846012 L61.2892366,34.6394898 C61.2892366,40.6990598 55.5563153,46.425669 49.4943783,46.425669 L26.8696167,46.425669 L9.42941679,64 Z M11.7964363,8.73482806 C8.42895654,8.73482806 4.73403906,12.4258005 4.73403906,15.7853902 L4.73403906,34.6394898 C4.73403906,38.1332106 8.29877046,41.69163 11.7964363,41.69163 L14.1634558,41.69163 L14.1634558,52.5096982 L24.8978894,41.69163 L49.4943783,41.69163 C52.9928332,41.69163 56.5551976,38.1332106 56.5551976,34.6394898 L56.5551976,15.7846012 C56.5551976,12.4250115 52.8594911,8.73403906 49.4943783,8.73403906 L11.7964363,8.73403906 L11.7964363,8.73482806 Z', fill='#000000', fill-rule='nonzero')
                                                path#Shape-Copy.bubble(d='M282.899573,55 L282.899573,41.9027023 C279.143517,40.9983431 276,37.3051088 276,33.4689592 L276,19.6420409 C276,15.2006707 280.19482,11 284.631539,11 L312.215399,11 C316.65154,11 320.845783,15.2006707 320.845783,19.6420409 L320.845783,33.4689592 C320.845783,37.9126438 316.650962,42.1121573 312.215399,42.1121573 L295.660695,42.1121573 L282.899573,55 Z M284.631539,14.4722072 C282.167529,14.4722072 279.463931,17.1789204 279.463931,19.6426195 L279.463931,33.4689592 C279.463931,36.0310211 282.072271,38.6405286 284.631539,38.6405286 L286.363504,38.6405286 L286.363504,46.5737787 L294.217968,38.6405286 L312.215399,38.6405286 C314.775244,38.6405286 317.381852,36.0310211 317.381852,33.4689592 L317.381852,19.6420409 C317.381852,17.1783418 314.677676,14.4716286 312.215399,14.4716286 L284.631539,14.4716286 L284.631539,14.4722072 Z', fill='#33D4F0', fill-rule='nonzero')
                                                path#Shape-Copy-2.bubble(d='M349.899573,55 L349.899573,41.9027023 C346.143517,40.9983431 343,37.3051088 343,33.4689592 L343,19.6420409 C343,15.2006707 347.19482,11 351.631539,11 L379.215399,11 C383.65154,11 387.845783,15.2006707 387.845783,19.6420409 L387.845783,33.4689592 C387.845783,37.9126438 383.650962,42.1121573 379.215399,42.1121573 L362.660695,42.1121573 L349.899573,55 Z M351.631539,14.4722072 C349.167529,14.4722072 346.463931,17.1789204 346.463931,19.6426195 L346.463931,33.4689592 C346.463931,36.0310211 349.072271,38.6405286 351.631539,38.6405286 L353.363504,38.6405286 L353.363504,46.5737787 L361.217968,38.6405286 L379.215399,38.6405286 C381.775244,38.6405286 384.381852,36.0310211 384.381852,33.4689592 L384.381852,19.6420409 C384.381852,17.1783418 381.677676,14.4716286 379.215399,14.4716286 L351.631539,14.4716286 L351.631539,14.4722072 Z', fill='#33D4F0', fill-rule='nonzero')
                                                path#Shape-Copy-3.bubble(d='M417.899573,55 L417.899573,41.9027023 C414.143517,40.9983431 411,37.3051088 411,33.4689592 L411,19.6420409 C411,15.2006707 415.19482,11 419.631539,11 L447.215399,11 C451.65154,11 455.845783,15.2006707 455.845783,19.6420409 L455.845783,33.4689592 C455.845783,37.9126438 451.650962,42.1121573 447.215399,42.1121573 L430.660695,42.1121573 L417.899573,55 Z M419.631539,14.4722072 C417.167529,14.4722072 414.463931,17.1789204 414.463931,19.6426195 L414.463931,33.4689592 C414.463931,36.0310211 417.072271,38.6405286 419.631539,38.6405286 L421.363504,38.6405286 L421.363504,46.5737787 L429.217968,38.6405286 L447.215399,38.6405286 C449.775244,38.6405286 452.381852,36.0310211 452.381852,33.4689592 L452.381852,19.6420409 C452.381852,17.1783418 449.677676,14.4716286 447.215399,14.4716286 L419.631539,14.4716286 L419.631539,14.4722072 Z', fill='#33D4F0', fill-rule='nonzero')
                                                path#Combined-Shape(d='M104,24 L104,16 L100,16 L100,24 L92,24 L92,28 L100,28 L100,36 L104,36 L104,28 L112,28 L112,24 L104,24 Z', fill='#000000')
                                                path#Combined-Shape(d='M246,20 L246,24 L226,24 L226,20 L246,20 Z M246,28 L246,32 L226,32 L226,28 L246,28 Z', fill='#000000')
                                                path#Shape(d='M169,0 C154.1121,0 142,12.11204 142,27.00004 C142,41.88794 154.1121,54.00004 169,54.00004 C183.8879,54.00004 196,41.88794 196,27.00004 C196,12.11204 183.8879,0 169,0 Z M169,4 C181.7261,4 192,14.27384 192,27.00004 C192,39.72614 181.7261,50.00004 169,50.00004 C156.2739,50.00004 146,39.72614 146,27.00004 C146,14.27384 156.2739,4 169,4 Z M167,12.701652 L167,15.18754 C165.6815,15.44414 164.4745,15.96794 163.4688,16.78124 C161.9723,17.99164 161,19.90914 161,22.00004 C161,24.27684 162.3484,26.09034 163.8438,27.00004 C164.9074,27.64714 165.97,28.04354 167,28.40624 L167,34.56254 C165.9359,34.09194 165.1357,33.31984 164.7188,32.62504 C164.149198,31.6759049 162.918055,31.368172 161.96886,31.9376728 C161.019664,32.5071736 160.7118,33.7382838 161.2812,34.68754 C162.368,36.49874 164.3793,38.15874 167,38.75004 L167,41.4995288 L171,41.4995288 L171,38.81254 C172.3191,38.54674 173.5252,38.00124 174.5312,37.18754 C176.0277,35.97714 177,34.09094 177,32.00004 C177,29.72324 175.6517,27.87834 174.1562,26.96874 C173.0926,26.32174 172.0299,25.92524 171,25.56254 L171,19.43754 C172.064,19.89894 172.8645,20.64894 173.2812,21.34374 C173.649591,21.9578908 174.317662,22.3288347 175.033727,22.3168235 C175.749792,22.3048122 176.405047,21.9116708 176.752633,21.2855101 C177.100219,20.6593495 177.087322,19.8953124 176.7188,19.28124 C175.632,17.47024 173.6206,15.83344 171,15.25004 L171,12.701652 L167,12.701652 Z M167,19.34374 L167,24.09374 C166.582,23.92684 166.2096,23.75924 165.9375,23.59374 C165.1679,23.12554 165,23.05064 165,22.00004 C165,21.06174 165.3417,20.43864 166,19.90624 C166.27,19.68794 166.6098,19.49394 167,19.34374 Z M171,29.87504 C171.4179,30.04194 171.7904,30.20954 172.0625,30.37504 C172.8321,30.84324 173,30.94944 173,32.00004 C173,32.93834 172.6582,33.53014 172,34.06254 C171.73,34.28094 171.3901,34.46864 171,34.62504 L171,29.87504 Z', fill='#000000', fill-rule='nonzero')
                    ul.ul-movement
                        li Пост
                        li Продвижение
                        li Много постов

                .col-md-8
                    p Мы предлагаем промотировать все посты для максимального вовлечения аудитории. Один качественный пост с продвижением покажет бОльшую вовлеченность, чем несколько посредственных постов без промо.

    section.section-white
        .container
            .row.justify-content-center
                .col-12
                    h2.last Спасибо за просмотр!
                    .spacer-40
                    a(href='creative.html' title='').link-next Перейти к креативу
                        img(src='img/arrow.svg')

    section.section-gray
        .container
            .row.justify-content-center
                .col-12
                    h2 Digital активность
                .col-md-10.col-lg-8.central
                    p В качестве digital-активности предлагаем интерактивный тест “Что чувствует твоя кожа?”.

                    p Главный посыл: красивая здоровая кожа - счастливая жизнь. Когда ты знаешь, что с твоей кожей все хорошо, ты наслаждаешься жизнью, не отвлекаясь на косметические несовершенства и неприятные ощущения.

                    p Вопросы теста направлены на раскрытие эмоций, психологического состояния, мироощущения. Мы не спрашиваем напрямую “Твоя кожа раздражена?”, а предлагаем выбрать цвет или музыкальную композицию, которая ярко проиллюстрирует состояние покоя или стресса.

                    p Результат теста - короткий текст с фото и продуктом, а также код со скидкой, который можно использовать в местах продаж MIXA, либо форма для заказа семплов.

                    p Результат теста - короткий текст с фото и продуктом, а также код со скидкой, который можно использовать в местах продаж MIXA, либо форма для заказа семплов. Результатом теста можно поделиться в соцсетях - это обеспечит нам виральный охват

    section.section-white
        .container
            .row.justify-content-center
                .col-12
                    h2 Месседж
                .col-md-10.col-lg-8.central.message
                    p Мы - первопроходцы на fashion-ритейл рынке Украины. Мы держим руку на пульсе и делимся экспертным мнением.



    section.section-white
        .container
            .row.justify-content-center
                .col-12
                    h2 Референс механики теста
                .col-md-10.col-lg-8.central
                    a(href='' title='').link-regular http://www.amplifon.com/web/uk/emotions-of-sound.html



    section.section-white
        .container
            .row.justify-content-center
                .col-12
                    h2 Инсайт
                .col-md-8.col-lg-6
                    p.text-center Мы - первопроходцы на fashion-ритейл рынке Украины. Мы держим руку на пульсе и делимся экспертным мнением.

    section.section-double
        .section-white
            .container
                .row.justify-content-center
                    .col-12
                        h2 Идея
        .section-black
            .container
                .row.align-items-center
                    .col-sm-10.col-md-7.offset-lg-1.col-lg-5.col-xl-6.z-index-2
                        p.text-bigger.white Превращаем страницы Spazio в онлайн издание о моде и стиле.
                    img(src='img/parts/boy.png' title='' alt='').img-visual

    section.section-white
        .container
            .row.justify-content-center
                .col-12
                    h2 Рубрики
            .row.evod
                .offset-md-5.col-md-6.flex-md-first
                    h5 Предмет гардероба
                .col-md-4.flex-last.flex-sm-last.flex-md-first
                    img(src='img/parts/evod1.png' title='' alt='').img-evod
                .col-md-8.col-lg-7
                    .border-evod
                        p Когда-то курткой-бомбером называли объемные дубленки из кожи весом в несколько килограммов, разработанные специально для пилотов. Сегодня классический бомбер - это легкая короткая куртка из нейлона на резинке в районе пояса.
                        p
                            b Ваш идеальный Бомбер The Editor из коллекции Весна-Лето 2017 ждет вас в Spazio со СКИДКОЙ -60%
                    .evod-idea
                        p
                            b Идея:
                            br
                            | Рассказываем о каждой вещи и ее месте в истории: как появилась, кто ввел в моду, кто носил, кто “воскресил” тренд
            .row.evod
                .offset-md-1.col-md-6.offset-lg-2
                    h5 Бренд
                .offset-lg-1.col-lg-7.col-md-8
                    .border-evod
                        p Немецкий бренд Drykorn (Драйкорн) начал свою историю в 1996 году с выпуска исключительно мужских брюк. Упор был сделан на лаконичность и то самое немецкое качество, которое само по себе является отличной рекламой.
                            br
                            | [...]
                        p
                            b А сегодня вы можете выбрать для себя женственный бомбер “с характером” Drykorn из коллекции Весна-Лето 2017 со СКИДКОЙ -60% .
                    .evod-idea
                        p
                            b Идея:
                            br
                            | Рассказываем о каждой вещи и ее месте в истории: как появилась, кто ввел в моду, кто носил, кто “воскресил” тренд
                .col-md-4
                    img(src='img/parts/evod1.png' title='' alt='').img-evod
            .row.justify-content-center
                .col-md-8
                    a(href='creative.html' title='').link-next Перейти к креативу
                        img(src='img/arrow.svg')


    section.section-white
        .container
            .slider
                div
                    .row.justify-content-center
                        .col-md-6
                            ul.slider-header
                                li.active Цели
                                li Бренд
                                li Задачи
                        .col-md-9
                            ul.ul-regular
                                li Увеличить охват аудитории
                                li Повысить вовлечение
                                li “Освежить” имидж в соцсетях
                div
                    .row.justify-content-center
                        .col-md-6
                            ul.slider-header
                                li.active Цели
                                li Бренд
                                li Задачи
                        .col-md-9
                            ul.ul-regular
                                li Увеличить охват аудитории
                                li Повысить вовлечение
                                li “Освежить” имидж в соцсетях
                div
                    .row.justify-content-center
                        .col-md-6
                            ul.slider-header
                                li.active Цели
                                li Бренд
                                li Задачи
                        .col-md-9
                            ul.ul-regular
                                li Увеличить охват аудитории
                                li Повысить вовлечение
                                li “Освежить” имидж в соцсетях

    section.section-gray
        .container
            .row.justify-content-center
                .col-12
                    h2 Анализ SMM конкуренты
                .col-lg-10
                    p.text-big MIXA - первый в Украине бренд категории med mass market, поэтому прямых конкурентов у него нет.
                    p.text-big Для анализа выбраны аптечные и масс-маркет бренды, коммуницирующие на территориях “экспертность”, “чувствительная кожа”, “нежный уход для семьи”.


    section.section-gray
        .container
            .slider.slider-big
                div
                    .row
                        .col-12
                            h4 Sanahunt
                        .col-md-6.offset-lg-1.col-lg-5
                            h3
                                +fb-sq
                                | Facebook
                            a(href='' title='').link-regular https://www.facebook.com/SANAHUNT
                            p
                                b Подписчики — 17 000
                            p
                                b Украина — 15 000
                            p
                                b Рубрики:
                                |  репосты изданий о моде (55% постов), новинки, новости бутика (презентации, открытия корнеров и тд).
                            p
                                b Визуальный креатив:
                                |  неуникальный, собственных фото мало
                            p
                                b Постинг:
                                |  2-3 поста в день
                            p
                                b Продвижение:
                                |  все посты промотируются
                            img(src='img/social/social3.png' title='' alt='').img-social
                            p
                                b Самый популярный пост в июне 2017
                            .spacer-slider
                        .col-md-6.offset-lg-1.col-lg-5
                            h3
                                +instagram
                                | Instagram
                            a(href='' title='').link-regular https://www.instagram.com/sanahuntstore/
                            p
                                b Рубрики:
                                |  акции, скидки, новые поступления
                            p
                                b Визуальный креатив:
                                |  лукбуки, собственных фото мало
                            p
                                b Частота постинга:
                                |  3-5 поста в неделю
                            p
                                b Вовлечение:
                                |  слабое, 0-11 лайков/пост
                            p
                                b Продвижение:
                                |  без продвижения
                            img(src='img/social/social4.png' title='' alt='').img-social
                            p
                                b Самый популярный пост в июне 2017
                div
                    .row
                        .col-12
                            h4 Sanahunt
                        .col-md-6.offset-lg-1.col-lg-5
                            h3
                                +fb-sq
                                | Facebook
                            a(href='' title='').link-regular https://www.facebook.com/SANAHUNT
                            p
                                b Подписчики — 17 000
                            p
                                b Украина — 15 000
                            p
                                b Рубрики:
                                |  репосты изданий о моде (55% постов), новинки, новости бутика (презентации, открытия корнеров и тд).
                            p
                                b Визуальный креатив:
                                |  неуникальный, собственных фото мало
                            p
                                b Постинг:
                                |  2-3 поста в день
                            p
                                b Продвижение:
                                |  все посты промотируются
                            img(src='img/social/social3.png' title='' alt='').img-social
                            p
                                b Самый популярный пост в июне 2017
                            .spacer-slider
                        .col-md-6.offset-lg-1.col-lg-5
                            h3
                                +instagram
                                | Instagram
                            a(href='' title='').link-regular https://www.instagram.com/sanahuntstore/
                            p
                                b Рубрики:
                                |  акции, скидки, новые поступления
                            p
                                b Визуальный креатив:
                                |  лукбуки, собственных фото мало
                            p
                                b Частота постинга:
                                |  3-5 поста в неделю
                            p
                                b Вовлечение:
                                |  слабое, 0-11 лайков/пост
                            p
                                b Продвижение:
                                |  без продвижения
                            img(src='img/social/social4.png' title='' alt='').img-social
                            p
                                b Самый популярный пост в июне 2017


    section.section-gray
        .container
            .slider.slider-big
                div
                    .row
                        .col-12
                            h4 Vichy Ukraine
                        .col-md-6.offset-lg-1.col-lg-5
                            ul.ul-regular
                                li Подписчики - 51 732
                                li Украина - 51 681
                                li Рубрики: продуктовый пост, факты о коже, настроение, #SlowLife - искусство “медленной жизни”, советы красоты,  #VICHYэксперты - советы специалистов
                                li Визуальный креатив: фото с фотобанков, собственные фото, GIF. Выдержана единая стилистика
                                li Частота постинга: ежедневно
                                li Вовлечение: 0,97 - очень высокое
                                li Продвижение: промо 5 постов в месяц
                        .col-md-6.offset-lg-1.col-lg-5
                            img(src='img/social/social1.png' title='' alt='').img-social2
                            p
                                b Самый популярный пост в июне 2017
                div
                    .row
                        .col-12
                            h4 Vichy Ukraine
                        .col-md-6.offset-lg-1.col-lg-5
                            ul.ul-regular
                                li Подписчики - 51 732
                                li Украина - 51 681
                                li Рубрики: продуктовый пост, факты о коже, настроение, #SlowLife - искусство “медленной жизни”, советы красоты,  #VICHYэксперты - советы специалистов
                                li Визуальный креатив: фото с фотобанков, собственные фото, GIF. Выдержана единая стилистика
                                li Частота постинга: ежедневно
                                li Вовлечение: 0,97 - очень высокое
                                li Продвижение: промо 5 постов в месяц
                        .col-md-6.offset-lg-1.col-lg-5
                            img(src='img/social/social1.png' title='' alt='').img-social2
                            p
                                b Самый популярный пост в июне 2017


    section.section-white
        .container
            .row.justify-content-center
                .col-12
                    h2 Анализ Spazio
                .col-md-6.offset-lg-1.col-lg-5
                    h3
                        +fb-sq
                        | Facebook
                    a(href='' title='').link-regular https://www.facebook.com/spazio.kiev/
                    p
                        b Подписчики — 17 000
                    p
                        b Украина — 15 000
                .col-md-6.offset-lg-1.col-lg-5
                    h3
                        +instagram
                        | Instagram
                    a(href='' title='').link-regular https://www.instagram.com/spazio.kiev/
                    p
                        b Подписчики — 18 000
                .col-md-6.text-center
                    img(src='img/parts/statisctic.png' title='' alt='').img-statistic
                    p
                        b Рост аудитории страницы в июне (+36 фанов)

    section.section-gray
        .container
            .row.justify-content-center
                .col-12
                    h2 Контент
                .col-md-6.offset-lg-1.col-lg-5
                    h3
                        +fb-sq
                        | Facebook
                    p
                        b Рубрики:
                        |  акции, скидки, новые поступления
                    p
                        b Визуальный креатив:
                        |  лукбуки, собственных фото мало
                    p
                        b Частота постинга:
                        |  3-5 поста в неделю
                    p
                        b Вовлечение:
                        |  слабое, 0-11 лайков/пост
                    p
                        b Продвижение:
                        |  без продвижения
                    img(src='img/social/social1.png' title='' alt='').img-social
                    p
                        b Самый популярный пост в июне 2017
                    .spacer-slider
                .col-md-6.offset-lg-1.col-lg-5
                    h3
                        +instagram
                        | Instagram
                    p
                        b Рубрики:
                        |  акции, скидки, новые поступления
                    p
                        b Визуальный креатив:
                        |  лукбуки, собственных фото мало
                    p
                        b Частота постинга:
                        |  3-5 поста в неделю
                    p
                        b Вовлечение:
                        |  слабое, 0-11 лайков/пост
                    p
                        b Продвижение:
                        |  без продвижения
                    img(src='img/social/social2.png' title='' alt='').img-social
                    p
                        b Самый популярный пост в июне 2017

    section.section-white
        .container
            .row.justify-content-center
                .col-md-10.col-lg-6
                    h2 Главные выводы
                    ul.ul-regular
                        li Медленный рост количества подписчиков
                        li Видео, как самый трендовый формат, используется мало
                        li Мало уникального контента. Нет единого стилистического решения
                        li Публикации не промотируются, что неизбежно ведет к низкому охвату и вовлечению

    section.section-white
        .container
            .row.justify-content-center
                .col-md-10.col-lg-8
                    h2 Выводы
                    ul.ul-regular
                        li Конкуренты используют одни и те же рубрики.
                        li Частый постинг (несколько раз в день) приводит к обесцениванию материала и снижению внимания аудитории.
                        li Конкуренты промотируют посты о новинках и скидках, увеличивая охват и вовлечение публикаций
                        li Facebook 360, Gif, видео, хоть и трендовые форматы, но используются мало.
                    .spacer-40
                    a(href='creative.html' title='').link-next Перейти к креативу
                        img(src='img/arrow.svg')