$black = #000
$white = #fff
$trans = transparent

$purple = #7521e1

$text-gray = #c2c2c2;
$text-gray2 = #979797;

$back-gray = #f4f4f4


//$main-font = "Cera"
//$main-font = "Circe"
//$main-font = "Comfortaa"
//$main-font = "DejaVu"
//$main-font = "Futura PT"
//$main-font = "Gotham Pro"
//$main-font = "Helvetica"
//$main-font = "Lato"
//$main-font = "Lobster"
$main-font = "MuseoSans"
//$main-font = "Open Sans"
//$main-font = "Open Sans Condensed"
//$main-font = "Oswald"
//$main-font = "Pattaya"
//$main-font = "Proxima Nova"
//$main-font = "PT Sans"
//$main-font = "Raleway"
//$main-font = "Roboto"
//$main-font = "Roboto Condensed"